# Coverage EXCLUDE SETTINGS (Usuku App)
[run]
omit =
    test_*.py
    test/*
    */__init__.py
    /database/test_verification.py
    src/app/test_*.py

[report]
omit =
    test_*.py
    test/*
    */__init__.py
