# flake8 EXCLUDE SETTINGS (NPX App)
[flake8]
ignore = H601
exclude =
    .git,
    __pycache__,
    .venv,
    test/
    src/app/test_*.py
    src/app/gui/__init__.py

max-line-length = 120
enable-extensions = pylint,mccabe
disable-extensions = cohesion