## JUST FEW MODULE TO START WITH

# Code analysis
bandit
cohesion
flake8
flake8-docstrings
flake8-polyfill

#metrics.pylint
pylint
radon

# Code style
black

# Documentation
pdoc3
sphinx

# Unit test and coverage
coverage

# Connection to database
mysql-connector-python

# GUI
customtkinter

# Image Rendering
Pillow

# Login
# Add if we don't use the Login feature of Tkinter

# Encryption
# PyCrypto / KeyCzar / pyOpenSSL / pyDes / ...?

# Automatically adding the date to every entry
python-dateutil
