# Code analysis
bandit
cohesion
flake8
pylint
radon

# Code style
black

# Documentation
pdoc3

# Unit test and coverage
coverage

# Connection to database
mysql-connector-python

# GUI
customtkinter

# Image Rendering
Pillow

# Encryption
# PyCrypto / KeyCzar / pyOpenSSL / pyDes / ...?

# Automatically adding the date to every entry
python-dateutil
